<div style="font-size: 16px; color: #000;">
  <h1 style="text-align: center; font-size: 18px;">Olá, <a style="color: #2c99d3">nomeVoluntario</a></h1>
  <p> Recebemos a sua solicitação de uma nova senha.</p>
  <p>Agora, é só entrar com a senha abaixo e continuar acessando o Portal do Voluntariado</p>
  <p style="margin-top:10px;margin-bottom:10px;">Senha temporária: <strong>senhaTemp</strong></p>
  <div style=" background-color: #15717D;
    padding: 15px 20px;
    margin: 0 auto;
    color: #fff;
    font-weight: 600;
    box-sizing: border-box;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    height: 46px;
    width: 40%;"><a href="http://voluntariado.algar.com.br/entrar" style="text-decoration: none; color: inherit;">
  Acessar o Portal Voluntariado</a></div>
</div>
