<div style="font-size: 16px; color: #000;">
  <p>Prezado gestor,</p>
  <p>O associado {nome} se cadastrou como voluntário.</p>
  <p>Contamos com seu apoio no desenvolvimento das ações voluntárias de sua empresa.</p>
  <p>Em caso de dúvida, estamos à disposição.</p>
  <p>            
    <div>Marthina Endo</div>
    <div>Gestora do Programa de Voluntariado</div>
    <div>marthina@institutoalgar.org.br</div>
  </p>
</div>
