<div style="font-size: 16px; color: #000;">
  <p>{nome},</p>
  <p>Seja bem vindo!</p>
  <p>Agora você já pode participar das ações voluntárias de sua empresa.</p>
  <p>Acesse o Portal do Voluntariado e fique por dentro de tudo que está acontecendo em nosso Programa.</p>
  <p>{senha}</p>
  <p>Em caso de dúvida, procure o seu líder social.</p>
  <p>            
    <div>Marthina Endo</div>
    <div>Gestora do Programa de Voluntariado</div>
    <div>marthina@institutoalgar.org.br</div>
  </p>
</div>